# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Capstone Project\IEMOCAP-Emotion-Detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
